[submodule "src/modules/searchSECO-spider"]
	path = src/modules/searchSECO-spider
	url = https://github.com/SecureSECODAO/searchSECO-spider
[submodule "src/modules/searchSECO-databaseAPI"]
	path = src/modules/searchSECO-databaseAPI
	url = https://github.com/SecureSECODAO/searchSECO-databaseAPI
[submodule "src/modules/searchSECO-parser"]
	path = src/modules/searchSECO-parser
	url = https://github.com/SecureSECODAO/searchSECO-parser
[submodule "src/modules/searchSECO-logger"]
	path = src/modules/searchSECO-logger
	url = https://github.com/SecureSECODAO/searchSECO-logger.git
[submodule "src/modules/searchSECO-crawler"]
	path = src/modules/searchSECO-crawler
	url = https://github.com/SecureSECODAO/searchSECO-crawler.git
